<div class="container">
  <h1>DASHBOARD</h1>

<div class="">
  <h1>hello <%= @user.first_name %></h1>
  <h3><%= @user.email %></h3>
  <h4><%= @user.description %></h4>

  <div class="user_actions">
    <div class="edit-part"><h4><i data-toggle="modal" data-target="#editModal" class="fas fa-user-edit"></i></h4></div>
  </div>
  </div>


  <div class="actions">
    <ul>
      <li><%= link_to "New event", new_user_event_path(@user.id) %></li>
    </ul>

  </div>


  <div class="user_events">
    <h2>My events</h2>
    <ul>
       <% @user.events.each do |event|%>
        <li><%= link_to "#{event.title} - #{event.starts_at} - #{event.location}", event_path(event) %></li>
      <% end %>
    </ul>
  </div>


  <!-- MODALS -->

  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit your profile info!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <%= simple_form_for [@user] do |f| %>
           <%= f.input :email %>
           <%= f.input :first_name %>
           <%= f.input :last_name %>
           <%= f.input :avatar, label: 'Profile picture' %>
           <%= f.input :description, label: 'Description' %>
           <%= f.submit "validate", class: "btn btn-primary" %>
         <% end %>
        </div>
      </div>
    </div>
  </div>



</div>
