<div class="container">
  <div class="event_card">
    <div class="event_info">
      <div class="title"><%= @event.title %></div>
      <div class="specs">
        <div class="specs1">
          <div class="specs"><%= @event.location %></div>
          <div class="specs"><%= @event.starts_at %></div>
        </div>
        <div class="spec2">
          <div class="specs"><%= @event.seats %></div>

        </div>
      </div>
    </div>
    <div class="event_description">
      <%= @event.description  %>
    </div>
  </div>

  <div class="event_action">
    <ul>
      <li data-toggle="modal" data-target="#editModal">Edit event</li>
      <li class=""><%= link_to "Delete #{@event.title}",
            event_path(@event),
            method: :delete,
            data: { confirm: "Are you sure?" }
          %>
        </li>
        <li><%= link_to "Back to the Dashboard", user_path(current_user) %></li>
    </ul>
  </div>
</div>

<%= console  %>

<!-- MODALS -->

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit your profile info!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <%= simple_form_for [@event] do |f| %>
         <%= f.input :title, label: 'Username', :input_html => { :value => @event.title } %>
         <%= f.input :starts_at %>
         <%= f.input :ends_at %>
         <%= f.input :location %>
         <%= f.input :seats %>
         <%= f.input :picture, label: 'Profile picture' %>
         <%= f.input :description, label: 'Description' %>
         <%= f.input :themes, as: :check_boxes, collection: ['Sciences & technologies', 'Histoire & Futur', "Sante & Education", "Economie", "Litterature & Philosophie"], wrapper: :vertical_collection_inline %>
         <%= f.submit "validate", class: "btn btn-primary" %>
       <% end %>
      </div>
    </div>
  </div>
</div>
